


<div class="parallax-container">
      <div class="parallax"><img src="images/NextBlack.jpg"></div>
    </div>
    <div class="section white">
      <div class="row container">



        <div class="row">
        <br>

          <div class="col s8">
            <h2 class="featurette-heading">¿Que es Hospedaje Unab?</h2>
            <p class="lead">Hospedaje Unab es una aplicación la cual le permite al usuario ver la información detallada de los diferentes arrendamientos desde la comodidad de su casa y sin costo adicional.</p>
          </div>
          <div class="col s4">
            <img src="images/uni.png" >
          </div>
        </div>

        <hr>
        <div class="row">
        <br>
        <div class="col s4">
          <img src="images/uzume.png" >
        </div>
          <div class="col s8">
            <h2 class="featurette-heading">Nos preocupamos por tu seguridad</h2>
            <p class="lead">En Hospedaje Unab nos preocupamos por la seguridad y satisfacción de nuestro cliente. Es por ello que todos los puntos asociados a nuestra aplicación cuentan con un estricto estandar de calidad sobre el estado de las vivienda y el cumplimiento de las caracteristicas ofrecidas.</p>
          </div>

        </div>
        <hr>

        <div class="row">
        <br>

          <div class="col s8">
            <h2 class="featurette-heading">Estamos en todos lados</h2>
            <p class="lead">Estamos asociados a decenas de parqueaderos a lo largo de la ciudad por lo que siempre tendrás un punto EZWheels cerca de ti.</p>
          </div>
          <div class="col s4">
            <img src="images/noire.png" >
          </div>
        </div>


      </div>
    </div>
    <div class="parallax-container">
      <div class="parallax"><img src="images/NextBlack.jpg"></div>
    </div>


<br><br>
  <div class= "container">
    <div class="row">
    <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
          <img src="images/uni.png">

        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>


      </div>
    </div>





    <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
          <img src="images/uni.png">

        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>


      </div>
    </div>

    <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
          <img src="images/uni.png">

        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>


      </div>
    </div>





  </div>







  </div>
